*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---Navbar---*/
.playnow{
    color: #fff;
    background-color: #0C445D;
    border: 2px solid ;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 1em;
    padding-left: 1em;
    border-color: #22A1C1;
  }

.navbar{
  padding: .1rem 1em!important;
}

.nav-link{
  color: #BC9652!important;
  font-weight: bold;
  font-size: 0.9em;
}

.nav-link:hover{
  color: #F1E6D0!important;
}

.bg{
  background-color: #121212!important;
  }

.ciara{
    border-top: 1px solid #535353;
  }

input.form-control{
  border: 0px solid #ced4da;
  padding-right: 100px;
}

.nadpis{
  text-align: center;
  padding-top: 100px;
}

.fa-jedi{
  color: #b8903b;
  font-size: 25px;
}

.napidsCH{
  color: #c1b38d;
  padding-top: 10px;
  letter-spacing: 6px;
  font-size: 1.6em;
  font-family: sans-serif;
}

.icon-champ{
  padding-right: 10px;
}
/*--- Background Image---*/
.obr>img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  position: fixed;
  filter: brightness(.4);
}

.card>img{
  height: 300px;
}
/*--- Champions ---*/
.card{
  border: 0px!important;
}

.card-body{
  padding: 1em!important;
  border-top: 1px solid #937941;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.namech{
  color: #BC9652;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.regionch{
  color: #C4B998;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}

.col{
  padding-right: 0px!important;
}

/*---Bottom---*/
.container-fluid1{
  padding-left: 0px;
  padding-right: 0px;
}

.linkbot{
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #937941;
  text-align: center;
}
.updated{
  padding-bottom: 25px;
}

.oddelenie{
  padding-left: 10px;
  color: grey;
  text-align: center;
  font-size: 13px;
}

.textbot{
  padding-top: 25px;
  padding-bottom: 15px;
}

.bottom{
  background-color: #0A0A0C;
}

.pegi12{
  padding-left: 29px;
}

.riotgames{
  padding-left: 12px;
}

.bposun{
  padding-top: 10px;
  padding-bottom: 20px;
}

.ciara{
  border-top: 2px solid #937941;
}
