*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---Navbar---*/
.playnow{
    color: #fff;
    background-color: #0C445D;
    border: 2px solid ;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 1em;
    padding-left: 1em;
    border-color: #22A1C1;
  }

.navbar{
  padding: .1rem 1em!important;
}

.nav-link{
  color: #BC9652!important;
  font-weight: bold;
  font-size: 0.9em;
}

.nav-link:hover{
      color: #F1E6D0!important;
}

.bg{
      background-color: #121212!important;
  }

/*---Trailer---*/
.trailer{
  padding-left: 0px!important;
}

video{
  width: 100%;
}

/*--- Background Image---*/
.obr>img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  position: fixed;
}

/*---Game Info/Mods---*/
.gnazov{
  background-color: #222225;
  color: white;
  padding: 10px;
}

.ginfo{
  padding-top: 15px;
  background-color: white;
  padding-bottom: 15px;
  border-top: 1px solid #dfdfdf;
}

.h3nazov{
  font-weight: 400;
}

/*---Bottom---*/
.container-fluid1{
  padding-left: 0px;
  padding-right: 0px;
}

.linkbot{
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #937941;
  text-align: center;
}
.updated{
  padding-bottom: 25px;
}

.oddelenie{
  padding-left: 10px;
  color: grey;
  text-align: center;
  font-size: 13px;
}

.textbot{
  padding-top: 25px;
  padding-bottom: 15px;
}

.bottom{
  background-color: #0A0A0C;
}

.pegi12{
  padding-left: 29px;
}

.riotgames{
  padding-left: 12px;
}

.bposun{
  padding-top: 10px;
  padding-bottom: 20px;
}

.ciara{
  border-top: 2px solid #937941;
}
