*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---Navbar---*/
.playnow{
    color: #fff;
    background-color: #0C445D;
    border: 2px solid ;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 1em;
    padding-left: 1em;
    border-color: #22A1C1;
  }

.navbar{
  padding: .1rem 1em!important;
}

.nav-link{
  color: #BC9652!important;
  font-weight: bold;
  font-size: 0.9em;
}

.nav-link:hover{
      color: #F1E6D0!important;
}

.bg{
      background-color: #121212!important;
  }

/*---Trailer---*/
.trailer{
  padding-left: 0px!important;
}

.obr>img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  position: fixed;
}

/*---Game Info/Mods---*/
.gnazov{
  border: 1px solid black;
}

.ginfo{
  height: 250px;
  border-top: 1px solid black;
}

.infocol{
  border-right: 1px solid black;
}

/*---Bottom---*/
.container-fluid1{
  padding-left: 0px;
  padding-right: 0px;
}

.linkbot{
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 80px;
}
.updated{
  height: 80px;
}

.logo{
  height: 100px;
}

.textbot{
  height: 50px;
}
